.div {
  display: flex;
}

.panel .panel-default  {
  background-color: #222;
}
.panel-default {

}

.panel-heading .panel-title {
  background-color: #808080;
  color: #9d9d9d;
  font-weight: bold;
}

.div > .panel-body {
  color: #9d9d9d;
}

.panel-footer{
  background-color: #808080!important;
}

.more {
  background-color: #808080!important;
  font-weight: bold;
  color: #B22222;
}
