.div {
  display: flex;
}

.panel {
  background-color: #222 !important;
}
.panel-default {

}

.panel-heading {
  background-color: #222 !important;
  color: #9d9d9d !important;
  font-weight: bold;
}

.panel-body {
  color: #222 !important;
}

.footer{
  background-color: #222;
}

.more {
  background-color: #808080!important;
  font-weight: bold;
  color: #B22222;
}

.black{
  background-color: black;
}
