
.jumbotron {
 margin-bottom: : 0;
 background-color: black;
}
.navbar {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-radius: 100;
  padding: 0px;
}
.containerheader{
  width:1140px;
  margin:auto;
  padding:0px;
  background-color: black;
}
body {
  background-color: black;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin: auto;
  width: 50%;
  padding: 20px;
}
#home {
display: flex;
flex-direction: column;
align-items: center;
}
.footer {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
footer {
  background-color:#222;
  color: #9d9d9d;
  display: flex;
  justify-content: center;
  width:40%;
  border-radius: 100;
}
.container-footer {

}
