* {
  box-sizing: border-box;
}

body {
  background-color: black;

}

img {
  width: 40%;

  height: 65vh;
  border-radius: 15px;

}

p {
  padding-right: 20px;
  font-size: 20px;
  font-family: sans-serif allerta aleo;
  padding-left: 30px;

}
h3 {
  font-size: 2.5em;
  padding-left: 30px;
}

ul {
  font-size: 1.5em;

  display: flex;
  flex-direction: column;
}
li {
  display: flex;
}


article {
  width: 100%;
  background-color: rgba(241, 218, 174, 0.94);

  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;

}
