
.jumbotron {
 margin-bottom: : 0;
 background-color: black;
}
.navbar {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-radius: 100;
  padding: 0px;
}
.containerheader{
  width:1140px;
  margin:auto;
  padding:0px;
  background-color: black;
}
body {
  background-color: black;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin: auto;
  width: 50%;
  padding: 20px;
}
.prueba {
  border-color: white;
  border: solid;
  border-width: 3px;
}
/*esta prueba es para ver el logo que actualmente tiene letras negras*/
